@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

body {
	font-family: "Nunito", sans-serif !important;
}

.white {
	background-color: white;
}

.nav-link {
	color: #000 !important;
}

.title-padding {
	padding-top: 8%;
}

.my-form {
	max-width: 65%;
	padding: 15px;
	margin: auto;
}

.btn-padding {
	padding-bottom: 2%;
}

.my-table {
	max-width: 80%;
	padding: 15px;
	margin: auto;
}

.table-caption {
	max-width: 80%;
	margin: auto;
	padding-bottom: 5px;
}
